@charset "UTF-8";

@media screen and (min-width: 768px) {
  .container {
    padding: 0 4rem 4rem;
  }

  .container main > header {
    padding: 7.2rem 0;
  }

  #text-input-field {
    height: 50.2rem;
  }

  .button-box {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {

  body {
    height: 100vh;
  }

  .container {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
  }

  .container main > header {
    padding: 4rem 0;
  }

  main {
    height: 100%;
    flex-grow: 1;
  }

  .input-field {
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #text-input-field {
    height: 32rem;
    flex-grow: 1;
  }

  .controls {
    margin-bottom: 3.2rem;
  }

  .text-output-field {
    width: 40rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-output {
    overflow-y: auto;
  }

  .view-default {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .illustration {
    width: 100%;
    display: block;
    margin-bottom: 3.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    gap: 8rem;
  }

  .box-alert {
    width: 120rem;
    left: calc(50% - 60rem);
  }
}